# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#"C:\Users\asus\CareerFoundry\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl"
path = r'C:\Users\asus\CareerFoundry\Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
ords_prods_merge.shape

(32404859, 24)

In [46]:
ords_prods_merge.head(50)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,prices_range_loc,price_range_loc,Busiest Day,Busiest Days,busiest_period_of_day,max_order,loyalty_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,10,New customer
1,1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer
2,2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer
3,3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer
4,4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer
5,5,5,3367565,1,6,2,7,19.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,10,New customer
6,6,6,550135,1,7,1,9,20.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,10,New customer
7,7,7,3108588,1,8,1,14,14.0,196,2,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,10,New customer
8,8,8,2295261,1,9,1,16,0.0,196,4,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,10,New customer
9,9,9,2550362,1,10,4,8,30.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer
10,144,144,2968173,15,15,1,9,7.0,196,2,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,22,Regular customer
11,146,146,1870022,15,17,2,16,8.0,196,6,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,22,Regular customer
12,147,147,1911383,15,18,2,11,7.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,150,150,2715276,15,21,1,9,7.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,22,Regular customer
14,151,151,487368,15,22,1,10,14.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Most orders,22,Regular customer
15,209,209,2293453,19,2,5,14,6.0,196,3,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,9,New customer
16,212,212,1973799,19,5,6,12,8.0,196,15,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,9,New customer
17,214,214,532817,19,7,4,17,6.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,9,New customer
18,232,232,1573906,21,10,3,10,6.0,196,2,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Most orders,33,Regular customer
19,458,458,1593000,31,10,3,8,7.0,196,17,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,20,Regular customer
20,465,465,2231262,31,17,3,11,8.0,196,14,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Most orders,20,Regular customer
21,617,617,2580647,43,6,4,16,4.0,196,9,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,11,Regular customer
22,620,620,2187180,43,9,4,12,3.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,11,Regular customer
23,751,751,2497897,52,1,1,9,NaN,196,4,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,27,Regular customer
24,752,752,1318871,52,2,1,10,7.0,196,5,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Most orders,27,Regular customer
25,753,753,1261384,52,3,1,10,7.0,196,3,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Most orders,27,Regular customer
26,755,755,580568,52,5,2,10,8.0,196,6,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Most orders,27,Regular customer
27,757,757,2428073,52,7,2,7,8.0,196,5,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,27,Regular customer
28,759,759,342306,52,9,1,11,7.0,196,5,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Most orders,27,Regular customer
29,760,760,1520353,52,10,2,10,8.0,196,4,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Most orders,27,Regular customer
30,761,761,2542086,52,11,2,9,7.0,196,3,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,27,Regular customer
31,762,762,944694,52,12,1,16,6.0,196,7,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,27,Regular customer
32,765,765,1268191,52,15,2,11,8.0,196,3,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Most orders,27,Regular customer
33,767,767,1122089,52,17,2,10,6.0,196,4,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Most orders,27,Regular customer
34,768,768,1498922,52,18,2,10,14.0,196,6,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Most orders,27,Regular customer
35,769,769,180919,52,19,3,8,8.0,196,4,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,27,Regular customer
36,771,771,2695875,52,21,5,10,30.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Most orders,27,Regular customer
37,1022,1022,3205960,67,1,3,11,NaN,196,1,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Most orders,24,Regular customer
38,1023,1023,970922,67,2,1,15,5.0,196,2,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,24,Regular customer
39,1024,1024,596585,67,3,1,13,7.0,196,2,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,24,Regular customer
40,1025,1025,2037087,67,4,2,9,8.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,24,Regular customer
41,1026,1026,2474111,67,5,3,14,8.0,196,2,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,24,Regular customer
42,1027,1027,1568481,67,6,3,12,7.0,196,2,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,24,Regular customer
43,1029,1029,2048527,67,8,2,11,7.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Most orders,24,Regular customer
44,1030,1030,2389031,67,9,2,14,7.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,24,Regular customer
45,1031,1031,2378562,67,10,1,10,6.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Most orders,24,Regular customer
46,1032,1032,1515698,67,11,1,11,7.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Most orders,24,Regular customer
47,1033,1033,1928050,67,12,2,12,8.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,24,Regular customer
48,1034,1034,1949274,67,13,1,10,6.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Most orders,24,Regular customer
49,1035,1035,551869,67,14,1,9,7.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Busiest days,Average orders,24,Regular customer

In [44]:
#df.groupby('department_id').agg({'order_number' : ['mean', 'min', 'max']}
#df.groupby('department_id')['order_number'].mean()
ords_prods_merge.groupby('department_id')[['order_number','orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'add_to_cart_order', 'aisle_id', 'prices']].mean()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,aisle_id,prices
department_id,,,,,,,,
1,15.457838,2.790508,13.681669,11.730829,24406.939662,8.998076,69.638987,7.736553
2,17.277920,2.851368,13.498939,10.952867,27755.745006,8.277645,6.000000,6.990934
3,17.170395,2.743055,13.398569,11.097613,23941.533409,8.093020,100.900234,7.853809
4,17.811403,2.683672,13.424949,10.856212,27169.833725,8.022875,63.624854,7.981708
5,15.215751,3.163153,13.594264,10.340887,26177.769929,5.428346,59.719075,8.143701
6,16.439806,2.691937,13.518913,11.291251,23176.950964,9.947061,55.123924,7.682264
7,17.225802,2.807199,13.314115,11.053389,24975.641727,6.975999,78.909756,7.680502
8,15.340650,2.934893,13.578544,11.867322,23291.646230,7.718040,40.648952,7.889070
9,15.895474,2.690505,13.546041,11.774450,25253.734390,10.212863,54.489774,7.350283
10,20.197148,2.759061,13.458537,10.104230,18263.701501,8.399040,42.882133,8.348960
11,16.170638,2.816660,13.486800,11.593145,23984.406927,8.752333,59.592910,7.996769
12,15.887671,2.718082,13.468507,11.432021,23870.325849,8.528219,74.889162,16.294443
13,16.583536,2.810497,13.458808,11.163256,25281.300483,9.593717,61.946247,8.009443
14,16.773669,2.731141,13.330673,11.296101,26441.493093,9.125223,106.281374,8.028963
15,16.165037,2.707202,13.453348,11.656079,23392.289574,9.947258,73.887759,7.539976
16,17.665606,2.739654,13.367711,10.986054,25388.532939,7.499835,79.182009,33.479533
17,15.694469,2.835449,13.349908,11.996490,24051.306783,8.492163,76.748621,7.384058
18,19.310397,2.711004,13.397596,10.004465,25051.904109,10.575925,89.919854,7.638380
19,17.177343,2.751490,13.360846,10.947879,25380.724173,9.187743,68.334496,4.275437
20,16.473447,2.705505,13.481529,11.345655,25659.100628,8.693815,61.769719,7.778701
21,22.902379,2.800853,13.454841,10.218559,26057.782761,9.339489,100.000000,8.660716

In [6]:
pd.options.display.max_columns = None

## The subset differs from the entire dataframe becuase it is just one number per department and that number is the average

In [49]:

ords_prods_merge.groupby('loyalty_flag')[['order_number','orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'add_to_cart_order', 'aisle_id', 'prices']].mean()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,aisle_id,prices
loyalty_flag,,,,,,,,
Loyal customer,32.641196,2.791642,13.188346,6.026656,25580.887946,8.284024,71.148742,10.386336
New customer,3.807044,2.697449,13.673824,17.976936,25620.003822,8.268989,71.320477,13.294670
Regular customer,12.347452,2.720970,13.480738,12.155135,25601.781240,8.429793,71.177894,12.495717

# Spending Flag

In [59]:
#ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)
ords_prods_merge['mean_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [60]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,prices_range_loc,price_range_loc,Busiest Day,Busiest Days,busiest_period_of_day,max_order,loyalty_flag,mean_order
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer,6.367797
2,2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer,6.367797
3,3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer,6.367797
4,4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer,6.367797

In [62]:
ords_prods_merge.loc[ords_prods_merge['mean_order'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['mean_order'] >= 10, 'spending_flag'] = 'High spender'

In [63]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,prices_range_loc,price_range_loc,Busiest Day,Busiest Days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender
2,2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender
3,3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender
4,4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender

In [67]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

# Frequency Flag

In [68]:
ords_prods_merge['Median_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [69]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,prices_range_loc,price_range_loc,Busiest Day,Busiest Days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,Median_frequency
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
2,2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
3,3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
4,4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5

In [73]:
#If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”
ords_prods_merge.loc[ords_prods_merge['Median_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['Median_frequency'] > 10) & (ords_prods_merge['Median_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['Median_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [78]:
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [79]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,prices_range_loc,price_range_loc,Busiest Day,Busiest Days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,Median_frequency,frequency_flag
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Regularly busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,NaN,Mid-range-product,Least busy,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [80]:
#ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))